.actorsWrapper {
    overflow: hidden;
    position: relative
}

.actorWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px
}
.actorPhoto {
    width: 160px;
    height: 228px;
    border-radius: 8px;
}

.arrowLeft {
    position: absolute;
    content: url('index.svg');
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);

}

.arrowRight {
    position: absolute;
    content: url('index.svg');
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.arrowRight:hover, .arrowLeft:hover {
    cursor: pointer;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 100vw;
    right: 0px;
    transition: 0.7s ease;
}

.hide {
    content: none;
}