.cardWrapper {
    display:flex;
    padding: 24px;
    background-color: var(--primary-color);
    gap: 24px;
    border-radius: var(--border-radius);
}

.cardWrapper:hover {
    cursor: pointer;
}

.poster {
    width: 100px;
    height: 120px;
    border-radius: var(--border-radius);
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.detailInfoWrapper {
    display: grid;
    grid-template-columns: 1fr 80%;
    gap: 12px
}

.rowName {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
}

.rowInfo {
    max-width: 600px;
}
