
.movieInfoWrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 24px
}

.poster {
    width: 400px;
    height: 500px;
    border-radius: var(--border-radius);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px
}

.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description span {
    font-weight: 600;
}

p {
    margin: 0;
}

.actorHeader {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.errorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 70vh;
}

.errorWrapper h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.errorWrapper p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}