* {
  box-sizing: border-box;
}

:root {
  --border-radius: 8px;
  --background-color: #EDEDED;
  --primary-color: #fff;
  --secondary-color: #FF5500;
  --hover-color: #E94E00;
  --hover-secondary-color: #FAFAFA;
  --font-family: 'Roboto', sans-serif;
  --primary-text-color: #1B1F23;
  --secondary-text-color: #ABABAB;
  --header-background-color: #333333;
  --error-color: #F04075;
}

:root {
  font-family: "Roboto Light", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}