.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;

}

.arrowLeft {
    content: url('Icons/arrow.svg');
    transform: rotate(180deg);
    cursor: pointer;
}

.arrowLeftDisabled {
    content: url("Icons/arrowHover.svg");
    transform: rotate(180deg);
}

.arrowRight {
    content: url('Icons/arrow.svg');
    cursor: pointer;
}

.arrowRightDisabled {
    content: url("Icons/arrowHover.svg");
}
