.dropdown {
    position: relative;
}

.input {
    width: 360px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding: 10px 16px
}
.inputActive {
    outline: none;
    border: 1px solid #FF5500;
}
.input:focus {
    outline: none;
    border: 1px solid #FF5500;
}

.dropdownMenu {
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 360px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: scroll;
    padding: 8px;
    height: 228px;
    margin-top: 8px;
}

.dropdownMenuItem {
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    height: 42px
}

.dropdownMenuItem:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    content: url("Icon.svg");
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.closeButtonActive {
    transform: translateY(-50%) rotate(180deg);
}

