.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.emptyData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 70vh;
}

.emptyData h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    margin: 0;
}

.emptyData p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    margin: 0;
}
