.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 24px;
    align-items: flex-start;
}

.searchMoviesWrapper {
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: relative;
    width: 80%; /* Пример: ширина контейнера на 80% от ширины экрана */
    max-width: 1424px; /* Максимальная ширина контейнера для адаптивности */
    min-height: 80vh; /* Высота контейнера (может быть любой другой высоты) */

}