.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 24px;
    align-items: flex-start;
}

.searchMoviesWrapper {
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 1424px;
    min-height: 80vh;
}