.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 24px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

